<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Document</title>
</head>

<body>
    <div class="container m-5">
        <div class="card p-10 m-10">
            <h1 class = "p-3">Plant Disease Detection</h1>
            <form action="http://localhost:5000/predict" method="POST" class="p-3" enctype="multipart/form-data">
                <input type="file" id = "imag file" onchange="LoadImg(event)" class="form-control" name="file" />
                <br>
                <img src="#" id = "img-file" alt="">
                <br>
                <input type="submit" class="btn btn-primary" />
            </form>
            <h2 class = "p-3">
                predicted disease : {{ result }}
            </h2>
            <script>
                function LoadImg(event){
                    var image = document.getElementById("img-file")
                    image.src = URL.createObjectURL(event.target.files[0])
                }
            </script>
        </div>
    </div>

</body>

</html>